@charset "utf-8";
/* CSS Document */
body {
	background-color: #D5D1C4;
}

h1 {
	color: #707070;
	font-family: "Lucida Calligraphy";
	font-size: 45px;
	white-space: nowrap;
}

h2 {
	color: #707070;
	font-family: "Garamond";
	font-size: 45px;
}

h3 {
	color: #707070;
	font-family: "Garamond";
	font-size: 35px;
}

p {
	color: #707070;
	font-family: "Ebrima";
	font-size: 22px;
}

ul {
	color: #707070;
	list-style: none;
}

hr {
	border-top-style:dashed;
	border-top-color: #707070;
	border-top-width: medium;
}

.vl {
	border-left-style:dashed;
	border-left-color: #707070;
	border-left-width: medium;
	height: 100%;
}

#page {
	background-color: #FFFFFF;
	padding: 3em;
	margin: 30px 50px 30px 186px;
}

#nav {
	background-color: #FCF4CE;
	position: fixed;
  	z-index: 1;
  	top: 0;
  	left: 0;
  	overflow-x: hidden;
  	padding: 20px 0 0 15px;
	width: 160px;
}

#nav a {
	color: #707070;
	margin: 30px 10px 30px 10px;
	background-color: #EED980;
	display: block;
	text-decoration: none;
	font-weight: bolder;
	font-family: "Garamond";
	font-size: 35px;
	white-space: nowrap;
}

#nav ul {
	padding-left:0;
}

#nav li {
	text-align: center;
}

#nav a:hover {
	color: #C56666;
}

#home p {
	color: #707070;
	font-family: "Garamond";
	font-size: 35px;
	margin-bottom: 0px;
}

#home img {
	width: 45px;
	background-color: #EED980;
	margin: 10px;
}

@media screen and (max-width: 480px) {
	#nav {
		position: relative;
		overflow: hidden;
		width: 100%;
		top: 0;
		padding: 10px;
	}
	
	#nav ul {
		position: relative;
		width: 100%;
		top: 0;
		margin: 10px;
		padding-left: 0;
	}
	
	#nav li {
		display: block;
		margin: 0;
		white-space: normal;
		font-size: 25px;
	}
	
	#home img {
		margin: 10px;
		width: 30px;
		padding: 10px;
	}
	
	#page {
		margin: 15px 0 15px 0;
		width: 100%;
	}
}

#icon {
	width: 175px;
	height: 175px;
	border: 15px solid #FCF4CE;
	flex-shrink: 1;
}

.rowContain {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: flex-start;
}

.rowContain img {
	width: 100px;
	margin: 0 10px 0 10px;
}

.boxGroup {
	background-color: #F3F3F3;
	padding: 2em;
	margin: 2em;
}

.borderLeft {
	background-color: #F3F3F3;
	padding-left: 2em;
	margin: 2em;
	border-left-style: dashed;
	border-left-color: #707070;
}

.borderLeftTransparent {
	padding-left: 2em;
	margin: 0 2em 2em 2em;
	border-left-style: dashed;
	border-left-color: #707070;
	flex-shrink: 1;
}

.cvList li:before {
	content: "–  ";
}

.logo {
	display: flex;
	align-items:flex-end;
	width: auto;
	margin: 15% 20% 10% 20%;
}
	
.logo img {
	width: 20%;
}

.imgBlockLeft {
		display: flex;
		flex-flow: row wrap;
		width: 45%;
		justify-content: flex-start;
	}
	
.imgBlockRight {
	display: flex;
	flex-flow: row wrap;
	width: 45%;
	justify-content: flex-end;
	border-left: medium dashed #707070;
}

.imgBlockLeft img, .imgBlockRight img {
	width: 150px;
	height: 150px;
	object-fit: cover;
	margin: 1em;
	flex-shrink: 1;
}

/*Navbar for index page only */

#navH {
	background-color: #FCF4CE;
	position: fixed;
  	z-index: 1;
  	top: 0;
  	left: 0;
  	overflow-x: hidden;
  	padding: 20px 0 0 15px;
	width: 200px;
}

#pageH {
	background-color: #FFFFFF;
	padding: 3em;
	margin: 30px 50px 30px 230px;
}

#navH a {
	color: #707070;
	margin: 30px 10px 30px 10px;
	background-color: #EED980;
	display: block;
	text-decoration: none;
	font-weight: bolder;
	font-family: "Garamond";
	font-size: 35px;
	white-space: nowrap;
}

#navH ul {
	padding-left:0;
}

#navH li {
	text-align: center;
}

#navH a:hover {
	color: #C56666;
}